#browser.address-top.bookmark-bar-bottom.tabs-left:has(.right) {
	--gutter-size: 12px;
	backdrop-filter: var(--backgroundBlur);

	&.minimal-ui {
		#webview-container {
			border-radius: 0 !important;
		}

		.mainbar {
			display: none !important;
		}
	}

	#webview-container {
		border-radius: var(--radius);
		overflow: hidden;
		.find-in-page-wrapper {
			position: absolute;
			z-index: 10;
			right: 0;
			left: 0;
			background: unset !important;
			border: unset !important;
			display: flex;
			.find-in-page {
				margin-inline: auto;
				background-color: var(--colorBgLightIntense);
				margin-top: var(--gutter-size);
				border-radius: var(--radiusRound);
				padding-inline: 24px !important;
				input[type="search"] {
					border-radius: var(--radiusRound);
				}
			}
		}
	}
	
	.tabbar-wrapper>.tabbar-wrapper {
		margin-top: 36px;
		margin-inline: var(--gutter-size);
		-webkit-app-region: drag;
	
		.tab {
			border-radius: 16px !important;
		}
	}
	
	#panels-container {
		background: none !important;
		transition: width 0.3s ease, opacity 0.3s ease !important;
	
		&:not(:hover).icons:not(.toolbar-edit-mode *) {
			width: var(--gutter-size) !important;
			opacity: 0;
		}
	
		.panel-group {
			margin-left: var(--gutter-size);
			border-radius: var(--radius);
			overflow: hidden;
	
			.panel {
				background: var(--colorBg);
			}
		}
	
		.button-toolbar {
			box-shadow: unset !important;
			border-radius: var(--radius) !important;
		}
	
	}
	
	.mainbar {
		background: none !important;
		transition: height 0.3s ease, opacity 0.3s ease !important;
		-webkit-app-region: no-drag !important;
		height: 48px;
		opacity: 1;
		border: unset !important;
	
		.UrlBar-AddressField {
			height: 36px !important;
			border-radius: var(--radiusRound);
			background-color: var(--colorBgAlphaHeavy);
			border: unset !important;
			padding: 0 10px;
		}
		>div {
			height: inherit !important;
			.toolbar-mainbar {
				padding-left: 200px;
			} 
			.toolbar-mainbar,
			.button-toolbar.toolbar-spacer-flexible {
				height: inherit !important;
				min-height: unset !important;
			}
		}
	
		&:not(:hover):not(.toolbar-edit-mode *):not(:focus-within) {
			height: var(--gutter-size) !important;
			opacity: 0 !important;
			overflow: hidden !important;
		}
	}
	
	.bookmark-bar {
		background: none !important;
		transition: height 0.3s ease, opacity 0.3s ease !important;
		height: 48px;
		opacity: 1;
		border: unset !important;
	
		&:not(:hover) {
			height: var(--gutter-size) !important;
			opacity: 0 !important;
		}
	
		button.bookmarkbarItem {
			background-color: inherit !important;
		}
	
		.observer {
			justify-content: space-evenly;
		}
	}
}



/*Theme*/
#tabs-tabbar-container,.tabbar-wrapper,.tabbar-workspace-button,#panels-container,.startpage-navigation,.startpage-navigation-group,#switch {
	background: unset !important;
	backdrop-filter: unset !important;
	box-shadow: unset !important;
	border: unset !important
}

.manager-editor,.sortselector.sortselector-tableheader,.manager-content,.tree-row.folder,.NotesManager,.manager>.toolbar {
	background: unset !important;
}

.toolbar-default .button-toolbar>button:enabled {
	background-color: var(--colorBgAlphaHeavy) !important;
	background-image: none !important;
}

#ui-region-panel {
	max-width: unset !important;
	min-width: unset !important;
}

.StatusInfo-Content {
	margin-inline: auto;
	border-radius: var(--radiusRound) !important;
}




svg.svg-tab-stack {
	border-radius: 15px !important;
}
rect{
	&.outer{
		stroke: transparent !important;
		fill: transparent !important;
	}
	&.inner{
		fill: transparent !important;
		stroke: var(--colorAccentBgDarker) !important;
	}
	&.stack-frame{
		stroke: var(--colorAccentBgDarker) !important;
	}
}


.svg-tab-stack rect, .svg-tab-selection rect {
	rx: 15px !important;
	ry: 15px !important;
}



.tabs-left .tab-in-accordion .svg-tab-selection .inner {
	y: 0px;
	height: 30px;
}

.tab-position.accordion-toggle-arrow.closed.active {
	background: transparent !important;
}

.tab:not(.active) {
	background-color: transparent !important;
}

.toolbar-mainbar {
	fill: var(--colorFg);
}

#browser.win .window-buttongroup button, .window-buttongroup.on-mainbar {
	fill: inherit !important;
}

.tab-in-accordion {
	background-color: transparent !important;
}

.tab.active {
	overflow: auto;
}

.tabswitcher.list {
	display: flex !important;
}

img.visual-list-preview {
	display: none;
}

ul.listed-tabs {
	width: 100%;
}

#modal-bg.modal-tabswitcher {
    top: 10%;
    transform: unset !important;
}

button.vivaldi {
	position: absolute !important;
	margin: 7px 18px !important;
}

.dial {
	background: transparent !important;
	box-shadow: unset !important;
}


img.favicon, .favicon > img {
	filter: drop-shadow(0px 0px 0.5px var(--colorFg)) !important;
}

.SpeedDialView-SearchField {
    border-radius: var(--radiusRound);
    padding-inline: 12px;
}


win 
normal
theme-dark 
acc-dark 
bg-dark 
color-behind-tabs-off 
ui-transparent-tabs 
theme-id-Vivaldi3x 
disable-titlebar 
isblurred 
simple-scrollbar 
density-on 
menu-icon
alt-tabs
accordion-tabs-on 
stacks-accordion 
address-top 
bookmark-bar-bottom 
tabs-left