/* settings page */
.vivaldi-settings {
    background: none !important;
}

.settings-sidebar,
.settings-content {
    background: var(--settingsBg) !important;
}

.settings-sidebar {
    box-shadow: none !important;
}

.settings-content,
.setting-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


section.setting-section>div {
    background: var(--colorBgAlphaHeavy);
    padding-inline:32px;
    padding-bottom: 16px;
    border-radius: 8px;
    margin: unset !important;
    max-width: unset !important;
    width: 100% !important;
    h2{
        border: 0 !important;
    }
}

.TabbedView, .master-detail ,select.gesture-list{
    border-radius: var(--radius) !important;
    padding: 8px;
    background: var(--colorBgDarker) !important;
}
.select-wrapper>select,input[type="button"]{
    background: var(--colorBgIntense)!important;
}
input[type=radio], input{
    box-shadow: none !important;
}
input[type=radio]:checked {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, inset 0 0 0 5px var(--colorHighlightBg)!important;
}


nav.TabbedView-List,.TabbedView-Footer,.master,.detail,.master-toolbar,.master-toolbar>button,.master-items,.gesture-list>option {
    border: none!important;
    background: transparent!important;
}
.master-toolbar>button,.master-items,.gesture-list>option {
    border-radius: var(--radius) !important;
}
li + li {
    box-shadow: none !important;
}
/* start page */
nav.startpage-navigation.toolbar-medium {
    background-color: unset !important;
    box-shadow: unset !important;
}

.startpage-navigation-group {
    border: unset !important;
}

.Dashboard {
    padding-top: 50vh;
}

nav.startpage-navigation {
    order: 1;
}
.startpage-navigation-group>.button-toolbar:last-child {
    display: none !important;
}

/* bookmark */
.bookmark,.history  {
    border-radius: var(--radius) !important;
    padding: 8px;
    background: var(--colorBgAlphaHeavy) !important;
}
.manager > .toolbar,.manager .manager-content{
    background-color: transparent !important;
}
.sortselector,.manager-editor{
    background-color: transparent !important;
    border: none !important;
}
.tree-item {
    border-radius: var(--radius);
}
.toolbar-default .button-toolbar > button:enabled{
    border:none !important;
    background-color: var(--colorBgIntense) !important;
    background-image:unset!important;
}