/* background blur and background */
#main {
    /* backdrop-filter: var(--defalutBd); */
    /* background-color: var(--colorBgAlphaBlur); */
    /* transition: background-color 0.3s, backdrop-filter 0.3s; */
}

/* turn off header visual effect */
/* #header {
    z-index: 1;
    backdrop-filter: none !important;
    background: none !important;
    box-shadow: none !important;
    color: var(--colorFg) !important;
} */

/* popup window exception */
/* #browser.popup,
#browser.minimal-ui {
    #header {
        backdrop-filter: var(--defalutBd) !important;
        background-color: var(--colorBgAlphaBlur) !important;
    }

    .mainbar {
        display: none !important;
    }

} */

/* start page exception */

.mainbar {
    transition: background-color 0.3s, backdrop-filter 0.3s;
    backdrop-filter: var(--defalutBd);
}

#main:has(.webpageview.active .has-SpeedDial) {
    & .mainbar {
        backdrop-filter: blur(0px) !important;
        background-color: transparent !important;
    }
}


/* override tool bar color */
.tabbar-workspace-button,
.tab,
button.ToolbarButton-Button,
div#tabs-tabbar-container,
div#panels-container,
.button-startpage,
.mainbar {
    color: var(--colorFg) !important;
    fill: var(--colorFg) !important;
}

#main:has(.webpageview.active .has-SpeedDial) {

    .tabbar-workspace-button,
    .tab,
    button.ToolbarButton-Button,
    div#tabs-tabbar-container,
    div#panels-container,
    .button-startpage,
    .mainbar {
        color: var(--colorImageTopFg) !important;
        fill: var(--colorImageTopFg) !important;
    }

}




/* webpage view transition */

.webpageview {
    transition: var(--webpageviewTransition);

    &:not(.pagefocusstop) {
        transform: translateY(20vh);
    }
}

/* status bar tweak */
.StatusInfo-Content {
    margin-inline: auto;
    border-radius: var(--radiusRound) !important;
}

/* 
#webview-container {
    border-radius: var(--radius);
    overflow: hidden;
} */

/* #browser .inner {
    margin-bottom: var(--gutter-size);
} */

/* .minimal-ui:not(.mac) {
    #webview-container {
        border-radius: 0 !important;
    }

    .inner {
        margin-bottom: 0 !important;
    }

    .mainbar {
        display: none !important;
    }
} */

/* .inner,
div#panels {
    contain: unset !important;
} */

/* div#webview-container:not(:has(.webpageview.active .has-SpeedDial)),
.panel-group {
    box-shadow: #2b2b2b4d 0px 4px 12px 0px;
} */

/* div#tabs-tabbar-container {
    overflow: hidden;
} */