.webpageview {
    transition: all 0.3s;

    &:not(.pagefocusstop) {
        transform: translateY(20vh);
    }
}

.StatusInfo-Content {
    margin-inline: auto;
    border-radius: var(--radiusRound) !important;
}