#tabs-tabbar-container {
    backdrop-filter: unset !important;
}

.tabbar-wrapper {
    background-color: unset !important;
}

.tabbar-workspace-button {
    backdrop-filter: unset !important;
    box-shadow: unset !important;
}

img.favicon,
.favicon>img {
    filter: drop-shadow(0px 0px 0.5px var(--colorFg)) !important;
}

.tab {
    transition: var(--tabTransition);
}

div#tabs-subcontainer {
    background-color: transparent !important;
    backdrop-filter: none !important;
    border: antiquewhite;
}

#main.left{
    .tabbar-wrapper>.tabbar-wrapper{
        margin-right:var(--gutter-size)!important;
        margin-left: 0!important;
    }
}


.tabbar-wrapper>.tabbar-wrapper {
    margin-inline: var(--gutter-size);
    -webkit-app-region: drag;

    .tab {
        border-radius: 12px !important;
    }
}

div#tabs-tabbar-container {
    box-shadow: none !important;
}

.tabbar-wrapper {
    border-radius: var(--radius) !important;

}

.tabbar-workspace-button,
#tabs-tabbar-container,
.tabbar-wrapper,
.tabbar-wrapper::after,
.tabbar-wrapper::before {
    background: transparent !important;
    backdrop-filter: none !important;
}

#browser.mac .tabbar-wrapper>.tabbar-wrapper {
    padding-top: 36px !important;
}


.sync-and-trash-container {
    margin: 0 !important;
    justify-content: space-between !important;
}


.tab-strip {
    display: flex;
    gap: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tab-position {
    position: relative !important;
    transform: none !important;
    height: 36px !important;
}

.tab,
.tab-wrapper {
    height: inherit;
    max-height: none !important;
    margin: 0 !important;
}

.tab {
    display: flex;
    justify-content: center;

}

div#tabs-container {
    width: 100%;
}

svg.svg-tab-stack {
    display: none;
}

.stack-counter {
    background: var(--colorBg);
}

.tab-position:has(.tab-mini) {
    --Width: 36px !important;
}

.tab:not(.tab-mini) .tab-header {
    padding-left: 9px ;
}
.pinned .tab-header {
    padding-left: 0px !important;
}
.button-toolbar.newtab {
    top: 0 !important;
}

.tab-position:has(.newtab) {
    display: none;
}

svg.svg-tab-selection {
    max-height: unset !important;
    height: 36px;
}

.tab-position.is-pinned {
    flex: 1;
}

.pinned .title {
    display: none;
}

.tab-strip {
    height: -webkit-fill-available;
}
.tab.pinned {
    align-items: center;
}
.tab-position.is-pinned {
    min-width: 48px;
    height: 48px !important;
}
.tab-position {
    width: 100%;
}
.tab-strip .separator {
    position: relative;
    width: 100%;
    transform: unset !important;
}
.tab-position.is-pinned .tab-wrapper {
    background: var(--colorBgFaded);
}
div#tabs-tabbar-container {
    gap: 4px;
}
.color-behind-tabs-off .accordion-toggle-arrow.closed.active {
    background: none !important;
}
.tab.active {
    background-image: linear-gradient(135deg, var(--colorAccentBg), var(--colorAccentBgDark));
}