/* Tab Switcher */
.tabswitcher.list {
    display: flex !important;
}

img.visual-list-preview {
    display: none;
}

ul.listed-tabs {
    width: 100%;
}

#modal-bg.modal-tabswitcher {
    top: 10%;
    transform: unset !important;
}



.Dashboard {
    padding-top: 50vh;
}
nav.startpage-navigation {
    order: 1;
} 